<div class="menubar" id="menu">
    <b class="nohover">SmartCal</b>

    <a class="space"> </a>
    <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuFunction()">&#9776;</a> -->
    <a href="/calendar">CALENDAR</a>
    <a href="/aboutus" >ABOUT US</a>
    <a href="/logout" >LOGOUT</a>
    <!-- <a href="/calendar">Calendar</a> -->

</div>
