<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="icon" href="../../images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../css/topnav.css"/> <!--navigation bar-->
    <link type="text/css" rel="stylesheet" href="../../css/aboutus.css"> <!--page layout-->
    <script src="../../js/skrypt.js"></script>   <!--Burger design javascript-->
</head>
  <body>
    <!-- top nav bar -->
    <div class="menubar" id="menu">
        <b class="nohover">SmartCal</b>

        <a class="space"> </a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuFunction()">&#9776;</a>
        <a href="register.html">REGISTER</a>
        <a href="index.html" >LOGIN</a>
        <a href="calendar.html">Calendar</a>
        <a href="Aboutus.html" class="current">About Us</a>
    </div>

    <!--Top text-->
    <br>
    <section class="aboutus">
      <article >
        <p style="font-size:2em; text-align: center;">Hello, and welcome to SmartCal!</p>
      </article>
    </section>

    <!--Photo slideshow-->
    <section class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../images/bus.jpg" style="width:100%">
        <div class="text">SmartCal</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../images/desk.jpg" style="width:100%">
        <div class="text">SmartCal</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../images/path.jpg" style="width:100%">
        <div class="text">SmartCal</div>
      </div>

    </section>
    <br>

    <!--Dots under slideshow-->
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <br>


    <script src="../../js/slider.js"></script> <!--Image Slider-->
  </body>
</html>
