<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
      <% include ../partials/head %>

  </head>
  <body>
    <% include ../partials/loogedinheader %>

    <!-- <% events.forEach(function(event) { 
      var startTime = event.start;
      var endTime = event.start;
      var title = event.title;
      console.log('title');
      var obj = {
        title : title,
        start : startTime,
        end : endTime
      };
      $("#calendar").fullCalendar('renderEvent', obj, true);
     }); %> -->


    <!-- MAIN (Center website) -->
    <div id='calendar'></div>


    <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->

    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h1>Add Event</h1>

        <label for="start" ><b>Start Time</b></label>
        <input type="time"  name="start" id="start" required>
        <p></p>
        <label for="end" ><b>End Time</b></label>
        <input type="time" name="end" id="end" required>

        <input type="text" class="title" id="title" placeholder="Event Title">

        <button type="button" class="btn" onclick="add()" >Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  <!-- <div class="main">

      <div id='calendar'></div>

    </div>
  -->
    <!-- END MAIN -->


    <!-- footer -->
    <!--
    <div class="footer" id="press">
        <p> Copyright SmartCal </p>
    </div>
    -->
    <!-- <script src="../../js/skrypt.js"></script> -->

  </body>
</html>
