<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="icon" href="../../images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../css/look.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/register.css"/>
    <link rel="stylesheet" href="../../css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../../js/loginregister.js">

    </script>

</head>
<body>

    <!-- top nav bar -->
    <div class="menubar" id="menu">
        <b class="nohover">SmartCal</b>

        <a class="space"> </a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuFunction()">&#9776;</a>
        <a href="register.html">REGISTER</a>
        <a href="index.html" class="current" >LOGIN</a>
        <a href="calendar.html">Calendar</a>

    </div>
    <!-- end of top nav bar-->


    <div class="mainpage" id="ScrUp" style="padding-left:0px padding-right:0px">

        <div class="login-page">
          <div class="form">
            <form class="register-form">

              <input type="text" placeholder="First Name"/>
                <input type="text" placeholder="Last Name"/>
                <input type="text" placeholder="Email address"/>
              <input type="password" placeholder="Password"/>


              <button>Create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <div class="login-form">
              <input type="text" placeholder="Enter username"/>
              <input type="password" placeholder="Enter password"/>
              <button onclick="alertMessage();">login</button>
              <p class="message">Not registered? <a href="register.html">Create an account</a></p>
            </form>
          </div>
        </div>


    </div>
  </div>

      <!-- footer -->

  <!--
    <div class="footer" id="press">
        <p> Copyright SmartCal </p>
    </div>
  -->
<script src="js/skrypt.js"></script>

</body>
</html>
