<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
      <% include ../partials/head %>
    <!-- <link rel="icon" href="../../images/icon.png">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../css/look.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/register.css"/>
    <link rel="stylesheet" href="../../css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../../js/skrypt.js"></script> -->




        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <!-- Slide Social Buttons CSS -->
        <!-- <link rel="stylesheet" href="css/slide-social-buttons.css"> -->

</head>
<body>

    <!-- top nav bar -->
    <div class="menubar" id="menu">
        <b href="index.html" class="nohover">SmartCal</b>
        <a class="space"> </a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuFunction()">&#9776;</a>
        <a class="current">REGISTER</a>
        <a href="index.html">LOGIN</a>
        <a href="calendar.html">Calendar</a>


    </div>


        <!-- contact me form -->


    <div class="login-page">
      <div class="form">

        <div class="login-form">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Enter username"/>
          <input type="password" placeholder="Enter Password"/>
          <input type="password" placeholder="Repeat Password"/>
          <button onclick="alertMessage()">register</button>
        </form>
      </div>
    </div>




</body>
</html>
